<h1> RAMSCHEMA </h1>

<section>
    <div>
        Totala poäng i ramschemat: {{ totalPoints }}
    </div>
    <div> 
        Antal kurser: {{ totalCourses }}
    </div>
</section>

<table>
    <thead>
        <th> Kurskod </th>
        <th> Kursnamn </th>
        <th> Poäng </th>
        <th> Ämne </th>
        <th> Kursplan </th>
        <th> Ta bort </th>
    </thead>

    <tbody>
        <tr *ngFor="let course of savedCourses">
            <td> {{ course.courseCode }}</td>
            <td> {{ course.courseName }}</td>
            <td> {{ course.points }}</td>
            <td> {{ course.subject }}</td>
            <td><a [href]="course.syllabus"> Kursplan </a></td>
            <td class="deleteCourse">
                <button (click)="removeCourse(course)">
                    Ta bort
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div class="course-card" *ngFor="let course of savedCourses">
    <p><strong> Kurskod: </strong> {{ course.courseCode }}</p>
    <p><strong> Kursnamn: </strong> {{ course.courseName }}</p>
    <p><strong> Poäng: </strong> {{ course.points }}</p>
    <p><strong> Ämne: </strong> {{ course.subject }}</p>
    <p><a [href]="course.syllabus"> Kursplan </a></p>
    <button (click)="removeCourse(course)">
        Ta bort
    </button>
</div>