h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    margin-bottom: 50px;
}

table {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 50px;
}
thead {
    background-color: #718093;
    color: #f5f6fa;
}
th {
    padding: 10px 20px;
}
tbody {
    background-color: #353b48;
    color: #f5f6fa;
}
tr {
    height: 50px;
}
tr:hover {
    background-color: #718093;
}

td {
    padding: 10px;
}

td a {
    color: white;
}
td a:hover {
    color: blue;
}
td:nth-child(3), td:nth-child(1),
td:nth-child(5), td:nth-child(4) {
    text-align: center;
}
td:nth-child(6) {
    width: 100px;
    text-align: center;
}

.deleteCourse button {
    background-color: #f5f6fa;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.deleteCourse button:hover {
    background-color: #353b48;
    color: white;
}

#firstSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    color: white;
    font-size: 20px;
}

#firstSection div {
    margin: 10px;
}
.course-card {
    display: none;
}

#clearButton {
    display: flex;
    justify-content: center;
}
#clearButton button {
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #f5f6fa;
    cursor: pointer;
}
#clearButton button:hover {
    background-color: #718093;
    color: white;
}

#savedSchemes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#savedSchemes h2 {
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    margin-bottom: 50px;
}
#savedSchemes div {
    background-color: #353b48;
    padding: 20px;
    color: white;
    margin: 20px;
}
#savedSchemes p {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
#savedSchemes strong {
    font-size: large;
    margin-bottom: 10px;
}

#savedSchemes button {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    background-color: #f5f6fa;
    cursor: pointer;
    margin-top: 10px;
}

@media (max-width: 800px) {
    table {
        display: none;
    }

    .course-card {
        display: block;
        background-color: #353b48;
        color: #f5f6fa;
        padding: 15px;
        margin: auto;
        border-bottom: 10px solid #1e272e;
        border-radius: 5px;
        width: 500px;
    }
    .course-card:hover {
        background-color: #718093;
    }

    .course-card p, .course-card button {
        margin: 5px 0;  
        padding: 5px;
    }

    .course-card button {
        padding: 7px;
        background-color: #f5f6fa;
        font-size: 20px;
        cursor: pointer;
        width: 100%;
    }
    .course-card button:hover {
        background-color: #353b48;
        color: white;
    }
    .course-card a {
        color: white;
    }
    .course-card a:hover {
        color: blue;
    }
    .course-card span {
        color: white;
        width: 100%;
        text-align: center;
        margin-left: 180px;
    }
}

@media (max-width: 550px) {
    .course-card {
        width: 400px;
    }
    .course-card span {
        margin-left: 130px;
    }
}