<h1> KURSER </h1>

<section>
    <div>
        <label id="filterLabel" for="seekCourses"> Filtrera kurser: </label>
        <input type="text" id="filterInput" [(ngModel)]="filterInput" (input)="filter()" placeholder="Filtrera kurser..."> 
    </div>
    <div>
        <p> Välj ämne: </p>
        <select name="subjects" id="subjects" [(ngModel)]="selectedSubject" (change)="filter()">
            <option value="allSubjects" selected> Alla </option>
            <option value="subjects" *ngFor="let subject of uniqueSubject" [value]="subject"> {{ subject }}</option>
        </select>
    </div>
</section>

<div id="numberOfCourses">
    <p> Nedan visas just nu {{ filteredCourses.length }} kurser av totalt {{ courses.length }} stycken. </p>
</div>

<table>
    <thead> 
        <th> Kurskod </th>
        <th> Kursnamn </th>
        <th> Poäng </th>
        <th> Ämne </th>
        <th> Kursplan </th>
        <th> Lägg till </th>
    </thead>

    <tbody>
        <tr *ngFor="let course of filteredCourses">
            <td>{{ course.courseCode }} </td>
            <td>{{ course.courseName }} </td>
            <td>{{ course.points }} </td>
            <td>{{ course.subject }}</td>
            <td><a [href]="course.syllabus"> Kursplan </a></td>
            <td> Lägg till </td>
        </tr>
    </tbody>
</table>
