h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
}

section {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    color: #f5f6fa;
}
div {
    display: flex;
    flex-direction: column;
    margin: 30px;
}
#filterLabel, p {
    font-size: 20px;
}
#filterInput {
    padding: 10px;
    width: 300px;
    font-size: 18px;
}
#subjectCheckboxes {
    margin: 0;
}
select {
    height: 40px;
}
table {
    max-width: 1200px;
    margin: auto;
}
thead {
    background-color: #718093;
    color: #f5f6fa;
}
th {
    padding: 10px 20px;
}
th:nth-child(3) {
    padding: 10px;
}

tbody {
    background-color: #353b48;
    color: #f5f6fa;
}
tr {
    height: 50px;
}

td {
    padding: 10px;
}
td:nth-child(3), td:nth-child(1),
td:nth-child(5), td:nth-child(4) {
    text-align: center;
}
td:nth-child(6) {
    width: 100px;
    text-align: center;
}
td a {
    color: white;
}
td a:hover {
    color: blue;
}
tr:hover {
    background-color: #718093;
}

#numberOfCourses {
    text-align: center;
}
#numberOfCourses p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.tableHeader {
    cursor: pointer;
}

.tableHeader:hover {
    background-color: black;
    color: #f5f6fa;
}
.addCourse button {
    background-color: #f5f6fa;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.addCourse button:hover {
    background-color: #353b48;
    color: white;
}

#showMoreCourses button {
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

#showMoreCourses button:hover {
    background-color: #353b48;
    color: white;
}

#showMoreCourses button:disabled {
    display: none;
}
.course-card {
    display: none;
}

@media (max-width: 800px) {
    table {
        display: none;
    }

    .course-card {
        display: block;
        background-color: #353b48;
        color: #f5f6fa;
        padding: 15px;
        margin: auto;
        border-bottom: 10px solid #1e272e;
        border-radius: 5px;
        width: 500px;
    }
    .course-card:hover {
        background-color: #718093;
    }

    .course-card p, .course-card button {
        margin: 5px 0;  
        padding: 5px;
    }

    .course-card button {
        padding: 7px;
        background-color: #f5f6fa;
        font-size: 20px;
        cursor: pointer;
        width: 100%;
    }
    .course-card button:hover {
        background-color: #353b48;
        color: white;
    }
    .course-card a {
        color: white;
    }
    .course-card a:hover {
        color: blue;
    }
    .course-card span {
        color: white;
        width: 100%;
        text-align: center;
        margin-left: 180px;
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 550px) {
    .course-card {
        width: 400px;
    }
    .course-card span {
        margin-left: 130px;
    }
}