<h1> KURSER </h1>

<section>
    <div>
        <label id="filterLabel" for="seekCourses"> Filtrera kurser: </label>
        <input type="text" id="filterInput" [(ngModel)]="filterInput" (input)="filter()" placeholder="Filtrera kurser..."> 
    </div>
    <div>
        <p> Välj ämne: </p>
        <select name="subjects" id="subjects" [(ngModel)]="selectedSubject" (change)="filter()">
            <option value="allSubjects" selected> Alla </option>
            <option *ngFor="let subject of uniqueSubject" [value]="subject"> {{ subject }}</option>
        </select>
    </div>
</section>

<div id="numberOfCourses">
    <p> Nedan visas just nu {{ visibleCourses.length }} kurser av totalt {{ courses.length }} stycken. </p>
</div>

<table>
    <thead> 
        <th class="tableHeader" (click)="sortBy('courseCode')"> Kurskod </th>
        <th class="tableHeader" (click)="sortBy('courseName')"> Kursnamn </th>
        <th class="tableHeader" (click)="sortBy('points')"> Poäng </th>
        <th class="tableHeader" (click)="sortBy('subject')"> Ämne </th>
        <th> Kursplan </th>
        <th> Lägg till </th>
    </thead>

    <tbody>
        <tr *ngFor="let course of visibleCourses">
            <td>{{ course.courseCode }} </td>
            <td>{{ course.courseName }} </td>
            <td>{{ course.points }} </td>
            <td>{{ course.subject }}</td>
            <td><a [href]="course.syllabus"> Kursplan </a></td>
            <td class="addCourse">
                <ng-container *ngIf="!isCourseAdded(course); else addedLabel">
                
                    <button (click)="addCourse(course)">
                        Lägg till 
                    </button>
                </ng-container>
                <ng-template #addedLabel>
                    <span> Tillagd </span>
                </ng-template>
            </td>
        </tr>
    </tbody>
</table>

<div id="showMoreCourses">
    <button (click)="showMoreCourses()">
        Visa fler kurser!
    </button>
</div>
