/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    height: 100%;
    background-color: #1e272e;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2em;
}

footer {
    position: relative;
    bottom: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}