<h1> HB´s Universitet </h1>

<section>
    <div id="textDiv">
        <h2> Välkommen! </h2>
        <p>
            HB´s Universitet erbjuder 4328 kurser som alla är unika. På hemsidan kan du välja kurser som passar dig och snickra ihop ett
            eget ramschema, som passar dina önskningar och behov. Behöver du kontakta oss hittar du telefonnumret längst ned på sidan.
        </p>
        <br>
        <p>
            Kika runt på hemsidan och känn dig som hemma! 
        </p>
    </div>
    <div>
        <img [src]="imagePath" alt="Bakgrundsbild" class="background-image">
    </div>
</section>