<h1> HB´s Universitet </h1>

<section id="firstSection">
    <div id="textDiv">
        <h2> Välkommen! </h2>
        <p>
            HB´s Universitet erbjuder 4328 kurser som alla är unika. På hemsidan kan du välja kurser som passar dig och snickra ihop ett
            eget ramschema, som passar dina önskningar och behov. Behöver du kontakta oss hittar du telefonnumret längst ned på sidan.
        </p>
        <br>
        <p>
            Kika runt på hemsidan och känn dig som hemma! 
        </p>
    </div>
    <div>
        <img [src]="imagePath" alt="Bakgrundsbild" class="background-image">
        <figcaption> Biblioteket på universitetet. </figcaption>
    </div>
</section>

<section id="secondSection">
    <div id="textDiv2">
        <h2> Snabb fakta! </h2>

        <ul>
            <li> 📚 4328 unika kurser och över 60 olika ämnen.</li>
            <li> 🔍 Filtrera i kurslistan utifrån dina preferenser. </li>
            <li> ↕️ Sortera utifrån kurskod, kursnamn, poäng eller ämne. </li>
            <li> 🔗 Länkad kursplan till varje kurs. </li>
            <li> 🤔 Skapa enkelt ett eget ramschema! </li>
            <li> 💯 Se totala antal kurser och poäng i ramschemat. </li>
        </ul>
    </div>
</section>